<!DOCTYPE html>
<html lang="pt-br" dir="ltr" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MEGUIA</title>
    <link rel="shortcut icon" href="img/logoHomem.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,600" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
    <style>
      img[alt="www.000webhost.com"]{display:none!important;}
  </style>
  </head>
  <body>
    
    <div id="preloder">
      <div class="loader"></div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="img/logoFINAL.png" class="logo-navbar"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="icon ion-md-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#funcionalidades">Funcionalidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contato">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#aplicativo">Aplicativo</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="intro" class="bg-blue">
        <div class="container">
            <div class="heading-block">
                <h1><b>MEGUIA</b></h1>
                <br>
                <p>Te mostrando pequenos caminhos para que você possa dar grandes passos.</p>
                <br>
                <div id="demo" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <p>Buscando sua independência</p>
                    </div>
                    <div class="carousel-item">
                      <p>Ajudando no seu dia a dia</p>
                    </div>
                    <div class="carousel-item">
                      <p>Ônibus em tempo real </p>
                    </div>
                    <div class="carousel-item">
                      <p>Interação por voz </p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features-section" id="funcionalidades">
      <div class="container">
        <div class="section-title">
          <img src="img/logoFINAL.png" alt="logo" width="100px">
          <p>Inovando para todos</p>
          <h2>Nossas Funcionalidades</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 feature-item">
            <div class="ft-icon">
              <img src="img/done.png" alt="done" width="60px" height="60px">
            </div>
            <h4>100% Acessível</h4>
            <p>Nosso aplicativo foi inteiramente desenvolvido para que, você!, deficiente visual, possa utiliza-lo sem complicações, temos na parte superior da tela um widget com diversas funcionalidades para auxilia-lo na navegação o site.</p>
          </div>
          <div class="col-lg-4 col-md-6 feature-item">
            <div class="ft-icon">
              <img src="img/mobile.png" alt="mobile" width="50px" height="50px">
            </div>
            <h4>Aplicativo</h4>
            <p>Nosso principal objetivo com esse aplicativo é fazer com que tarefas como, andar sozinho na rua ou pegar um ônibus, se tornem mais fáceis para pessoas que possuem algum tipo de deficiência visual.</p>
          </div>
          <div class="col-lg-4 col-md-6 feature-item">
            <div class="ft-icon">
              <img src="img/cloud.png" alt="nuvem" width="60px" height="60px">
            </div>
            <h4>Cloud</h4>
            <p>Contamos também com um servidor cloud para armazenar informações que serão úteis para a melhoria continua da plataforma além de repassar esses dados para prefeituras, governos e/ou ONGs, afim de melhorar infraestrutura e acessibilidade nas cidades.</p>
          </div>
          <div class="col-lg-4 col-md-6 feature-item">
            <div class="ft-icon">
              <img src="img/walk.png" alt="pessoa andando" width="50px" height="50px">
            </div>
            <h4>Guiando você</h4>
            <p>Nosso aplicativo conta com uma funcionalidade de auxiliar na sua caminhada, te mostrando o melhor caminho e estabelecimentos nas redondezas.</p>
          </div>
          <div class="col-lg-4 col-md-6 feature-item">
            <div class="ft-icon">
              <img src="img/bus.png" alt="ônibus" width="50px" height="50px">
            </div>
            <h4>Te avisa sobre o Ônibus</h4>
            <p>Você precisa pegar um ônibus? Sem problemas, é só avisar nosso App o ônibus que você esta esperando que nós iremos lhe notificar quando ele estiver próximo.</p>
          </div>
          <div class="col-lg-4 col-md-6 feature-item">
            <div class="ft-icon">
              <img src="img/arduino.png" alt="arduino" width="60px" height="60px">
            </div>
            <h4>Sistema embarcado</h4>
            <p>Caso você queira uma experiencia completa, temos nosso dispositivo, que, acoplado em sua roupa te notifica de obstáculos a frente, para te auxiliar junto a sua bengala ou cão guia.</p>
          </div>
        </div>
      </section>
      <section class="contact-section" id="contato">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center contact-text">
              <h4>Contato</h4>
              <p>Mande nos sugestões para melhoria no site ou aplicativo.</p>
            </div>
            <div class="cool-lg-9">
              <form ng-controller="controller" class="contact-form form" ng-submit="inserirMsg(msg)" method="post">
                <div ng-if="showMsg"class="alert alert-success">Sugestão enviada!</div>
                <div class="row">
                  <div class="col-md-6">
                    <label for="nome">Nome</label>
                    <input type="text" ng-model="msg.nome"placeholder="Seu nome" id="nome">
                  </div>
                  <div class="col-md-6">
                    <label for="email">Email</label>
                    <input type="text" ng-model="msg.email"placeholder="Seu e-mail" id="email">
                  </div>
                  <div class="col-md-12">
                    <label for="assunto">Assunto</label>
                    <input type="text" ng-model="msg.assunto"placeholder="Assunto" id="assunto">
                    <label for="Mensagem">Mensagem</label>
                    <textarea ng-model="msg.conteudo"placeholder="Mensagem" id="mensagem"></textarea>
                    <input type="submit" class="site-btn"value="Enviar"/>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-dark" id="aplicativo">
          <div class="container">
              <div class="heading-block">
                  <h3 class="text-light">Nosso Aplicativo</h3>
                  <p class="text-light">Experimente nosso aplicativo gratuito com diversas funcionalidades para te ajudar na sua mobilidade.<p>
              </div>
              <div class="text-center topmargin-lg">
                  <img src="img/iphone.png" height="600" width="600" class="img-fluid mobile-app" alt="iphone">
              </div>
              <div class="heading-block">
                  <h3 class="text-light topmargin-sm">Baixe nosso app</h3>
                  <div class="topmargin-sm">
                      <a href="#" class="primary-btn"><i class="icon ion-logo-apple"></i> App Store</a>
                      <a href="#" class="primary-btn"><i class="icon ion-md-play"></i> Google Play</a>
                  </div>
                  <small class="topmargin-sm text-light">Mussum Ipsum, cacilds vidis litro abertis. Diuretics paradis num copo é motivis de denguis.</small>
              </div>
          </div>
      </section>
      <footer class="footer-section">
        <div class="container">
          <ul class="footer-menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="#funcionalidades">Funcionalidades</a></li>
            <li><a href="#contato">Contato</a></li>
            <li><a href="#aplicativo">Aplicativo</a></li>
          </ul>
          <div class="copyright">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
          </div>
        </div>
      </footer>
      <script src="js/jquery-3.3.1.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/main.js"></script>
      <script type="text/javascript">
      var _userway_config = {
      /* uncomment the following line to override default position*/
      /* position: '1', */
      /* uncomment the following line to override default size (values: small, large)*/
      /* size: 'large', */
      /* uncomment the following line to override default language (e.g., fr, de, es, he, nl, etc.)*/
      /* language: 'pt', */
      /* uncomment the following line to override color set via widget (e.g., #053f67)*/
      /* color: '#053f67', */
      /* uncomment the following line to override type set via widget(1=person, 2=chair, 3=eye)*/
      /* type: '3', */
      /* uncomment the following line to override support on mobile devices*/
      /* mobile: true, */
      account: 'R9EFNrdRis'
      };
    </script>
    <script type="text/javascript" src="https://cdn.userway.org/widget.js"></script>
    <script src="//code.jivosite.com/widget.js" jv-id="W2pGz7zFlu" async></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
  </body>
</html>
